<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ '/' | relative_url }}" class="logo home-link">
  		<span class="icon solid fa-home fa-lg" aria-hidden="true"></span>
  		<span class="site-name">{{ site.title }}</span>
	</a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
  <nav id="menu">
    <ul class="links">
      <!-- Home link -->
      <li><a href="{{ '/' | relative_url }}">{{ site.title }}</a></li>

      {% assign sorted_pages = site.html_pages | sort: 'order' %}
      {% for p in sorted_pages %}
        {% if p.layout != 'home' and p['nav-menu'] == true %}
          <li><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="actions vertical">
      <li><a href="#contact" class="button special fit">Get In Touch</a></li>
    </ul>
  </nav>