---
layout: page
---
<!-- Main -->
<div id="main" class="alt">
  <section id="one">
    <div class="inner">

      <header class="major">
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
          <p>{{ page.subtitle }}</p>
        {% endif %}
      </header>

      {{ content }}

      <footer class="back-link">
        <a href="{{ '/writing-samples/' | relative_url }}" class="button scrolly">
          <span class="icon solid fa-arrow-left"></span>&nbsp;Back to Writing Samples
        </a>
      </footer>


    </div>
  </section>
</div>
